{% extends 'template.html.twig' %}

{% block title post.getTitle() %}

{% block body %}
    <h1 class="h1 mt-4">{{ post.getTitle() }}</h1>
    <hr>
    <div class="card mb-3">
        {% if post.getImage() != null %}
            <img src="{{ asset("assets/images/article_header/") }}{{ post.getImage }}" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title text-primary">{{ post.getPubDate() | date('d/m/Y') }}</h5>
            <p class="card-text">{{ post.getContent() | markdown}}</p>
            <p class="card-text"><small class="text-muted">Auteur: {{ post.getAuthor().showNickName() }}</small></p>
        </div>
    </div>
    <hr class="mt-5">
    <h3>Commentaires <span class="badge badge-secondary">{{ post.getComments() | length}}</span></h3>
    {% if app.user %}
        {{ form_start(form) }}

        {{ form_widget(form._token) }}
        {{ form_row(form.content, {label: ' ', attr:{placeholder: 'Rédigez ici votre commentaire'}}) }}

        <button type="submit" class="btn btn-primary btn-block mb-5">Commenter</button>

        {{ form_end(form) }}
    {% else %}
        <div class="text-center mb-2">Vous devez vous <a href="{{ path('user.login') }}">connecter</a> pour poster un commentaire.</div>
    {% endif %}
    {% for comment in comments %}
        <div class="card mb-2">
            <div class="card-body">
                <p class="font-weight-light text-primary">{{ comment.getAuthor().showNickName() }} - {{ comment.getPubDate() | date("d/m/Y H:i:s", "America/New_York") }}</p>
                <p class="card-text">{{ comment.getContent() }}</p>
            </div>
        </div>
    {% else %}
        Aucun commentaire...
    {% endfor %}
    <br/><br>
{% endblock %}